* {
    font-family: sans-serif;
}

body {
  background: url('/img/tree.jpg');
}

.login {
  background-color: #EEEEEE;
  width: 400px;
  height: 30px;
  border: 2px solid lightblue;
  padding: 10px;
  font-size: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -212px;
  margin-top: -26px;
}

.widget {
  width: 250px;
  background-color: lightgray;
  border: 1px solid black;
  float: left;
  margin: 25px;
}

.widget .button {
  text-align: center;
  color: lightgray;
  background-color: darkgreen;
  border-bottom: 1px solid black;
}

.widget .button:hover {
  cursor: pointer;
}

.widget .button,
.widget .content {
  padding: 10px;
}

.hidden {
  display: none;
}
